*, :after, :before {
    @include box-sizing(border-box);
}

html {
    font-size: 12px;
}

body {
    font-family: $FONT;
    background: $COLOR_GREY;
    color: $COLOR_LIGHT;
}

a {
    // text-decoration: none;
    color: $COLOR_BLUE;
}

.isHidden {
    position:absolute;
    left:-10000px;
    top:auto;
    width:1px;
    height:1px;
    overflow:hidden;
}
