*, :after, :before {
    @include box-sizing(border-box);
}

html {
    font-size: 12px;
}

body {
    font-family: $FONT;
    background: $COLOR_GREY;
    color: $COLOR_LIGHT;
}

a {
    text-decoration: none;
}
