$FONT: 'Quicksand';
$FONT_MONO: 'Droid Sans Mono';
$FONT_ALT: 'Pompiere';

$COLOR_GREY: #565759;
$COLOR_BLUE: #98c9c3;
$COLOR_GREEN: #e0e9a7;
$COLOR_LIGHT: #99999b;

$NAV_HEIGHT: 3rem;

$IMG_PATH: '../media/images';

$LAYER_NAV: 200;
$LAYER_MAIN: 100;

$SPACING: 1.5rem;
