$FONT: 'Quicksand';
$FONT_MONO: 'Droid Sans Mono';
$FONT_ALT: 'Pompiere';

$COLOR_GREY: #565759;
$COLOR_BLUE: #98c9c3;
$COLOR_GREEN: #e0e9a7;
$COLOR_LIGHT: #99999b;

$NAV_HEIGHT: 5rem;

$IMG_PATH: '../media/images';
