.wrapper {
    text-align: center;
    position: relative;
}

.wrapper_main {
    // height: 100%;
    min-height: 100%;
    padding-top: $NAV_HEIGHT;
    z-index: $LAYER_MAIN;

}

.wrapper_nav {
    background: shade($COLOR_GREY, 12%);
    z-index: $LAYER_NAV;
    overflow: hidden;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
}
