<!DOCTYPE html>
<html class="no-js" lang="en-us">
<head>
    <!-- META DATA -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!--[if IE]><meta http-equiv="cleartype" content="on" /><![endif]-->

    <!-- SEO -->
    <title>Amanda &amp; Wes</title>

    <!-- STYLESHEETS -->
    {{#block "styles"}}
    <link href='http://fonts.googleapis.com/css?family=Droid+Sans+Mono' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Quicksand' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Pompiere' rel='stylesheet' type='text/css'>
    <!-- build:css assets/styles/screen.css -->
    <!-- bower:css -->
    <!-- endbower -->
    <link rel="stylesheet" media="screen, projection" href="assets/styles/screen.css" />
    <!-- endbuild -->

    {{/block}}
</head>
<body>

    <div class="wrapper wrapper_nav">
        <ul role="nav" class="nav">
            <li><a class="nav-i-a {{#block "nav-event"}}{{/block}}" href="/">Event</a></li>
            <li><a class="nav-i-a {{#block "nav-registry"}}{{/block}}" href="registry.html">Registry</a></li>
            <li><a class="nav-i-a {{#block "nav-travel"}}{{/block}}" href="travel.html">Travel</a></li>
        </ul>
    </div>

    <!-- CONTENT -->
    <div class="main">
        <div class="main-bd">
            <div class="main-bd-bd">
                {{#block "body"}} {{/block}}
            </div>
        </div>
    </div>

    <!-- JAVASCRIPT -->
    {{#block "scripts"}}
    <script defer="defer" src="assets/scripts/main.js"></script>
    <script src="http://localhost:35729/livereload.js"></script>

    {{/block}}
</body>
</html>
