$nav-BORDER_WIDTH: 0.2rem;

.nav {
    margin: auto;
    bottom: 0;
    z-index: 1; // above wrapper
    text-align: center;
    max-width: 35rem;
    // opacity: 0.9;

    > * {
        width: 33%;
        padding: 0 .15rem;
        float: left;
    }
}

.nav-i-a {
    background: shade($COLOR_GREY, 5%);
    display: block;
    text-align: center;
    font-size: 1.1rem;
    line-height: $NAV_HEIGHT - $nav-BORDER_WIDTH;
    height: $NAV_HEIGHT;
    position: relative;
    top: 0;
    color: $COLOR_LIGHT;
    text-decoration: none;
    text-transform: uppercase;

    border-bottom: $nav-BORDER_WIDTH solid;

    @include transition(all, 100ms);

    &:hover { color: $COLOR_GREEN; }
}

.nav-i-a_isActive {
    &, &:hover { color: $COLOR_BLUE; }
}
