$nav-BORDER_WIDTH: 0.3rem;

.nav {
    @include stretch-x;
    position: fixed;
    bottom: 0;
    z-index: 1; // above wrapper
}

.nav-i-a {
    float: left;
    background: rgba(0,0,0,0.1);
    margin: 0 0.15%;
    width: 33%;
    text-align: center;
    font-size: 1.3rem;
    line-height: $NAV_HEIGHT - $nav-BORDER_WIDTH;
    height: $NAV_HEIGHT;
    position: relative;
    top: 0;
    color: $COLOR_LIGHT;
    text-decoration: none;
    text-transform: uppercase;

    border-top: $nav-BORDER_WIDTH solid;
    opacity: 0.9;

    @include transition(all, 100ms);

    &:hover {
        color: $COLOR_GREEN;
        opacity: 1;
    }
}

.nav-i-a_isActive {
    color: $COLOR_BLUE;
    opacity: 1;

    &:hover {
        color: $COLOR_BLUE;
    }
}
