$navLink-OFFSET: 0.3rem;

.nav {
    @include stretch-x;
    position: fixed;
    bottom: 0;
    z-index: 1; // above wrapper
}

.navLink {
    float: left;
    background: rgba(0,0,0,0.05);
    margin: 0 0.15%;
    width: 33%;
    text-align: center;
    font-size: 1.3rem;
    line-height: $NAV_HEIGHT - $navLink-OFFSET;
    height: $NAV_HEIGHT;
    position: relative;
    top: 0;
    color: $COLOR_LIGHT;
    text-decoration: none;

    border-top: $navLink-OFFSET solid $COLOR_LIGHT;
    opacity: 0.7;

    @include transition(all, 100ms);

    &:hover {
        // line-height: $NAV_HEIGHT;
        // top: -$navLink-OFFSET;
        color: $COLOR_BLUE;
        border-top-width: $navLink-OFFSET;
        border-color: $COLOR_BLUE;
        // line-height: $NAV_HEIGHT - $navLink-OFFSET;
        opacity: 1;
    }
}
