$HEART_SIZE: 4rem;
$HEART_WIDTH: 1em;
$HEART_HEIGHT: 0.8em;
$HEART_POINT_RADIUS: 10px;
$HEART_LUMP_WIDTH: 50px;
$HEART_SIDE_LENGTH: $HEART_LUMP_WIDTH * 1;

$HEART_ANGLE: -27deg;

.heart {
    position: relative;

    display: inline-block;
    width: $HEART_WIDTH;
    height: $HEART_HEIGHT;
    vertical-align: middle;
    background: url(../media/images/heart.png);
    background-size: 100%;
    background-repeat: no-repeat;

    // @include transform(scale(1.5) translateY(0.1rem));
}
