/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
*, :after, :before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

html {
  font-size: 12px; }

body {
  font-family: 'Quicksand';
  background: #565759;
  color: #99999b; }

a {
  color: #98c9c3; }

.nav {
  position: absolute;
  left: 0;
  right: 0;
  position: fixed;
  bottom: 0;
  display: none; }

.navLink {
  float: left;
  background: rgba(0, 0, 0, 0.05);
  margin: 0 0.15%;
  width: 33%;
  text-align: center;
  font-size: 1.3rem;
  line-height: 50px;
  height: 60px;
  margin-bottom: -10px;
  position: relative;
  top: 0;
  color: #99999b;
  -webkit-transition: all, 100ms;
  -moz-transition: all, 100ms;
  transition: all, 100ms; }
  .navLink:hover {
    line-height: 60px;
    top: -10px;
    color: #98c9c3; }

.main {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  max-width: 50rem;
  padding: 4rem;
  -webkit-transform: translate(-50%, -55%);
  -moz-transform: translate(-50%, -55%);
  -ms-transform: translate(-50%, -55%);
  -o-transform: translate(-50%, -55%);
  transform: translate(-50%, -55%); }

.hList {
  *zoom: 1; }
  .hList:before, .hList:after {
    content: " ";
    display: table; }
  .hList:after {
    clear: both; }

.hList > * {
  float: left; }

.slider {
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  z-index: 0; }

.slider > * {
  background-size: cover;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  z-index: 0; }

.txt {
  font-family: 'Quicksand';
  font-size: 1.9rem;
  margin: 0 auto 1.5rem; }

.txt_huge {
  font-family: 'Pompiere';
  font-size: 7rem;
  color: #e0e9a7;
  margin-bottom: 0.7rem; }

.txt_save {
  font-family: 'Pompiere';
  font-size: 3rem;
  color: #ffffff;
  margin-bottom: 1.2rem; }

.txt_sub {
  font-size: 1.6rem;
  text-transform: uppercase; }

.txt_date {
  font-size: 4rem;
  margin-bottom: 0.5rem;
  color: #98c9c3; }

.txt_url {
  font-size: 2rem;
  margin-bottom: 1rem; }

.txt_loc {
  font-size: 2.3rem;
  text-transform: uppercase; }

.txt_lg {
  font-size: 2.4rem; }

.line {
  border: 0;
  width: 30rem;
  margin: 1.5rem auto;
  height: 0.5rem;
  overflow: hidden;
  background: repeat-x 50%;
  background-size: auto 100%;
  max-width: 80%; }
  .line:before {
    font-size: 1.8rem;
    content: '\2022  \2022  \2022  \2022  \2022  \2022  \2022  \2022  \2022  \2022  \2022  \2022  \2022  \2022  \2022  \2022  \2022  \2022  \2022  \2022  \2022  \2022';
    position: relative;
    top: -0.3em; }

.heart {
  position: relative;
  width: 3.66rem;
  height: 3rem;
  display: inline-block;
  font-size: 2.38095rem;
  margin: 1.5rem auto;
  vertical-align: middle;
  -webkit-transform: scale(1.5) translateY(0.1rem);
  -moz-transform: scale(1.5) translateY(0.1rem);
  -ms-transform: scale(1.5) translateY(0.1rem);
  -o-transform: scale(1.5) translateY(0.1rem);
  transform: scale(1.5) translateY(0.1rem); }

.heart:before, .heart:after {
  position: absolute;
  content: "";
  bottom: 0;
  left: 51%;
  width: 1.1em;
  height: 0.9em;
  background: #e0e9a7;
  border-radius: 100% 60% 100% 0;
  -webkit-transform: rotate(-27deg);
  -moz-transform: rotate(-27deg);
  -ms-transform: rotate(-27deg);
  -o-transform: rotate(-27deg);
  transform: rotate(-27deg);
  -webkit-transform-origin: 0 100%;
  -moz-transform-origin: 0 100%;
  -ms-transform-origin: 0 100%;
  -o-transform-origin: 0 100%;
  transform-origin: 0 100%; }

.heart:after {
  -webkit-transform: scaleX(-1) rotate(-27deg);
  -moz-transform: scaleX(-1) rotate(-27deg);
  -ms-transform: scaleX(-1) rotate(-27deg);
  -o-transform: scaleX(-1) rotate(-27deg);
  transform: scaleX(-1) rotate(-27deg); }

.controller {
  background-image: url('../media/images/controllers.png');
  background-size: 20rem;
  color: transparent;
  font: 0/0 a;
  text-shadow: none;
  display: inline-block;
  width: 9.6rem;
  height: 5rem;
  vertical-align: middle;
  margin: 0 -1.3rem 1.3rem;
  -webkit-transform: rotate(-20deg);
  -moz-transform: rotate(-20deg);
  -ms-transform: rotate(-20deg);
  -o-transform: rotate(-20deg);
  transform: rotate(-20deg); }

.controller_r {
  width: 10rem;
  background-position: 100%;
  height: 5.7rem;
  -webkit-transform: rotate(20deg);
  -moz-transform: rotate(20deg);
  -ms-transform: rotate(20deg);
  -o-transform: rotate(20deg);
  transform: rotate(20deg); }

.wrapper {
  text-align: center; }
  .wrapper:before, .wrapper:after {
    font-family: 'Pompiere';
    font-size: 1.4rem;
    word-wrap: break-word;
    overflow: hidden;
    height: 5rem;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 -1.1rem;
    text-align: center;
    opacity: 0.25; }
  .wrapper:before {
    content: '11010010110101000010000010010110000010100001101001000110100110010011010101010100010001011000010000100100000100110100100100110110001000001100100001001001101001001011000000100010100100110010001001101101000100010001011010001000010110100100110101001100010000101000001101101101000110010011000101010100000001101001000010001000101000011000100100100110110000101010100000111101001011010100001000001001011000001010000110100100011010011001001101010101010001000101100001000010010000010011010010010011011000100000110010000100100110100100101100000010001010010011001000100110110100010001000101101000100001011010010011010100110001000010100000110110110100011001001100010101010000000110100100001000100010100001100010010010011011000010101010000011';
    top: 1rem; }
  .wrapper:after {
    content: '11011010001100100110001010101000000011010010000100010001010000110001001001001101100001010101000001111010010110101000010000010010110000010100001101001000110100110010011010101010100010001011000010000100100000100110100100100110110001000001100100001001001101001001011000000100010100100110010001001101101000100010001011010001000010110100100110101001100010000101000001101101101000110010011000101010100000001101001000010001000101000011000100100100110110000101010100000111101001011010100001000001001011000001010000110100100011010011001001101010101010001000101100001000010010000010011010010010011011000100000110010000100100110100100101100000010001010010011001000100110110100010001000101101000100001011010010011010100110001000010100000110';
    bottom: 1rem; }
