
.txt {
    font-family: $FONT;
    font-size: 1.9rem;
    margin: $SPACING 0;
}

.txt_sub {
    font-size: 1.6rem;
    text-transform: uppercase;
}

.txt_date {
    font-size: 2.8rem;
    color: $COLOR_BLUE;
}

.txt_url {
    font-size: 2rem;
}

.txt_loc {
    text-transform: uppercase;
    font-size: 1.7rem;
}

.txt_lg {
    font-size: 2.4rem;
}
