{{#extend "layout"}}
    {{#replace "nav-event"}}nav-i-a_isActive{{/replace}}

    {{#append "body"}}

        <h1 class="hdg hdg_1">EVENT</h1>

        <div class="txt">The Berg, Kansas City, MO</div>

        <h2 class="hdg hdg_4">DATE</h2>

        <div class="txt">08.30.2014</div>

        <h2 class="hdg hdg_4">PARKING</h2>
        <p class="txt">The lot behind the event space is reserved for wedding guests. From Grand, turn east on 16th St and the lot is on the left.</p>

    {{/append}}

{{/extend}}
