{{#extend "layout"}}
    {{#replace "nav-registry"}}nav-i-a_isActive{{/replace}}

    {{#append "body"}}
        <h1 class="hdg hdg_1"> STUFF SCHMUFF </h1>
        <p class="txt">
            Piles o' stuff? We have plenty. But memories? We're just getting started. Instead of bringing us a blender we already have, we'd like you to send us on a quest.
        </p>
        <p class="txt">
            See, after the wedding we're slipping off to Scotland. And we want you to design our treasure map. We could hunt for Loch Ness, explore moors, sleep in castles. <em>You</em> get to decide. So fire up your imagination and check out our <a href="http://www.honeyfund.com/wedding/wesandamanda">Honeyfund</a>.
        </p>
        <p class="txt txt_lg">Help keep our home tidy and<br />launch our lifelong adventure.</p>
    {{/append}}

{{/extend}}
