{{#extend "layout"}}
    {{#replace "nav-travel"}}nav-i-a_isActive{{/replace}}

    {{#append "body"}}

        <h1 class="isHidden"> TRAVEL </h1>

        <h2 class="hdg hdg_2">HOTEL</h2>
        <p class="txt">Book <a href="https://resweb.passkey.com/Resweb.do?mode=welcome_ei_new&eventID=10976262">here</a> for $99/night @ the Downtown Marriott only a few blocks from the ceremony and reception site.</p>

        <h2 class="hdg hdg_4">FROM THE AIRPORT</h2>
        <p class="txt">We recommend the <a href="http://supershuttle.com">Super Shuttle</a> for $18 one way or $31 round trip.  The hotel is the first stop and it runs every 30 min.</p>

<!-- Much cheaper than a $50 taxi ride. -->

        <h2 class="hdg hdg_4">HOTEL PARKING</h2>
        <p class="txt">Self park for $16/day or $21/day for valet. Cheaper lots are nearby but unattended.</p>

        <h2 class="hdg hdg_2">EVENT PARKING</h2>
        <p class="txt">The lot behind the event space is reserved for wedding guests. From Grand, turn east on 16th St and the lot is on the left.</p>

<!--         <h2>Around Town</h2>
        <p class="txt">The hotel is downtown in walking distance from many restaurants and a short car ride away from The Country Club Plaza for shopping. Cabs are available at the taxi stand on the side of the hotel.</p> -->

    {{/append}}

{{/extend}}
