{{#extend "layout"}}
    {{#replace "nav-travel"}}nav-i-a_isActive{{/replace}}

    {{#append "body"}}

        <div class="txt">Check back soon for more info on travel and accomodations.</div>

    {{/append}}

{{/extend}}
